<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="./main.css">
    <script type="text/javascript" src="../angular.min.js"></script>
    <script type="text/javascript" src="./main.js"></script>
</head>
<body ng-app="myCartApp">
    <div class="box" ng-controller="buycart">
        <div class="list" ng-repeat="x in production">
            {{x.name+":"+x.price}}
            <div>
                <button class="cart">加入购物车</button>
                <button class="buy">买了</button>
            </div>
        </div>
        <div>
            <span ng-show="">购买<span ng-model="cart.name"></span></span>
        </div>
    </div>
</body>
</html>